<div class="card">
  <div class="card-header">
    <strong>{{gridDetails.title}}</strong>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let column of gridDetails.columns">{{ column.label }}</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of gridDetails.rows">
          <td *ngFor="let column of gridDetails.columns" (click)="updateRecord(row)" class="cursor-pointer">
            {{ row[column.key] }}
          </td>
          <td>
            <a href="javascript:void(0)" class="cursor-pointer" (click)="deleteRecord(row)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
